<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	class="text-md group inline-flex max-w-fit cursor-pointer items-center justify-center gap-2 space-x-2 rounded-xl border-2 border-slate-800/50 bg-gradient-to-br from-primary/10 via-accent/10 to-primary/5 px-4 py-2.5 text-base font-semibold text-primary shadow-sm backdrop-blur-sm transition-all duration-300 focus:outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent/50 focus-visible:ring-offset-2 active:scale-95 active:border-accent/50 active:bg-gradient-to-br active:from-accent/20 active:via-primary/20 active:to-accent/20 active:text-accent active:shadow-md active:shadow-accent/20 sm:hover:scale-105 sm:hover:border-accent/50 sm:hover:bg-gradient-to-br sm:hover:from-accent/20 sm:hover:via-primary/20 sm:hover:to-accent/20 sm:hover:text-accent sm:hover:shadow-lg sm:hover:shadow-accent/20"
>
	<slot />
</a>
